.mt0{
    margin-top: 0;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20{
    margin-top: 20px;
}

.mb0{
    margin-bottom: 0;
}

.mb5{
    margin-bottom: 5px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.mr0{
    margin-right: 0;
}

.mr5{
    margin-right: 5px;
}

.mr10{
    margin-right: 10px;
}

.mr15{
    margin-right: 15px;
}

.mr20{
    margin-right: 20px;
}

.ml0{
    margin-left: 0;
}

.ml5{
    margin-left: 5px;
}

.ml10{
    margin-left: 10px;
}

.ml15{
    margin-left: 15px;
}

.ml20{
    margin-left: 20px;
}

.pb5{
    padding-bottom: 5px;
}

.pb10{
    padding-bottom: 10px;
}

.pb15{
    padding-bottom: 15px;
}

.pb20{
    padding-bottom: 20px;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.rounded{
    border-radius: 16px;
}

.black{
    color: #111 !important;
}

.border{
    border: solid 2px #e7e7e7;
}

.errors{
    color: #F04124;
}

.graybg{
    background-color: #e7e7e7;
}

.img-responsive{
    width: 100%;
}

.border-primary{
    border: solid 1px;
    border-color: #008cba !important;
}

.pointer{
    cursor: pointer;
}

@media (min-width: 768px) {
    .dl-horizontal dt{
        width: 100px;
    }
    .dl-horizontal dd {
        margin-left: 110px;
    }
}

.ui-datepicker{
    z-index: 10 !important;
}

.noUnderline:hover{
    text-decoration: none;
}

small{
    color: #6f6f6f;
}

.shadow{
    cursor:text;
    box-shadow:inset -100px 0 80px -20px #ffffff
}

.text{
    position:relative;
    z-index:-1;
}

blockquote{
    border-left: none;
}

.width-fixed{
    width: 100% !important;
}

.hint{
    background-color: #ffffff;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 20px 65px rgba(0,0,0,0.6);
    top: 65px;
    margin-top: 20px;
    width: 500px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    -moz-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    -o-transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    transition: opacity 0.3s, margin-top 0.3s, visibility 0s linear 0.3s;
    pointer-events: none;
}

.hint::before {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: -40px; /* Положение треугольника */
    border: 20px solid transparent;	border-bottom: 20px solid #ffffff;

   }

.navbar-header:hover .hint{
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    pointer-events: auto;
}