.mt0{
    margin-top: 0;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20{
    margin-top: 20px;
}

.mb0{
    margin-bottom: 0;
}

.mb5{
    margin-bottom: 5px;
}

.mb10{
    margin-bottom: 10px;
}

.mb15{
    margin-bottom: 15px;
}

.mb20{
    margin-bottom: 20px;
}

.mr0{
    margin-right: 0;
}

.mr5{
    margin-right: 5px;
}

.mr10{
    margin-right: 10px;
}

.mr15{
    margin-right: 15px;
}

.mr20{
    margin-right: 20px;
}

.ml0{
    margin-left: 0;
}

.ml5{
    margin-left: 5px;
}

.ml10{
    margin-left: 10px;
}

.ml15{
    margin-left: 15px;
}

.ml20{
    margin-left: 20px;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.rounded{
    border-radius: 16px;
}

.black{
    color: #111 !important;
}

.border{
    border: solid 2px #e7e7e7;
}

.errors{
    color: #F04124;
}

.graybg{
    background-color: #e7e7e7;
}

.img-responsive{
    width: 100%;
}

.border-primary{
    border: solid 1px;
    border-color: #008cba !important;
}

.pointer{
    cursor: pointer;
}

@media (min-width: 768px) {
    .dl-horizontal dt{
        width: 100px;
    }
    .dl-horizontal dd {
        margin-left: 110px;
    }
}

.ui-datepicker{
    z-index: 10 !important;
}

.noUnderline:hover{
    text-decoration: none;
}

small{
    color: #6f6f6f;
}