.mt0{
    margin-top: 0;
}

.mt5{
    margin-top: 5px;
}

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mt20{
    margin-top: 20px;
}

.text-left{
    text-align: left !important;
}

@media (min-width: 768px) {
    .dl-horizontal dt{
        width: 100px;
    }
    .dl-horizontal dd {
        margin-left: 110px;
    }
}