{% extends 'Board/main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-sm-7">
                    <h3>{{ advertisement.header }}</h3>
                    <h5>Размещено {{ advertisement.public_date }}</h5>
                </div>
                <div class="col-sm-5 text-right">
                    {% if advertisement.price %}
                        <h3>{{ advertisement.price }} ₽</h3>
                    {% else %}
                        <h3>Цена не указана</h3>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                     {% if advertisement.photo %}
                        <img src="{{ advertisement.photo.url }}" class="img-responsive">
                     {% else %}
                         <img src="{{ advertisement.shop.image.url }}" class="img-responsive mt15">
                     {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <h3 class="card-header mt0">Продавец</h3>
                        <div class="card-body mt20">
                            <dl class="dl-horizontal">
                                <dt class="text-left"><h5 class="card-title mt0">Имя</h5></dt>
                                <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.first_name }}</h5></dd>
                                <dt class="text-left"><h5 class="card-title mt0">Город</h5></dt>
                                <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.city }}</h5></dd>
                                <dt class="text-left"><h5 class="card-title mt0">E-mail</h5></dt>
                                <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.email }}</h5></dd>
                                <dt class="text-left"><h5 class="card-title mt0">Телефон</h5></dt>
                                {% if user.profile.phone %}
                                    <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.phone }}</h5></dd>
                                {% else %}
                                    <dd><h5 class="card-subtitle text-muted mt0">Не указан</h5></dd>
                                {% endif %}
                                <dt class="text-left"><h5 class="card-title mt0">На сайте с</h5></dt>
                                <dd><h5 class="card-subtitle text-muted mt0">{{ user.date_joined.date }}</h5></dd>
                                <a href="/profile/{{ user.id }}">
                                    <button type="button" class="btn btn-primary btn-xs mt10">Перейти в профиль</button>
                                </a>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-md-12">
                    <div class="card border-primary">
                <div class="card-body">
                  <blockquote class="card-blockquote">
                      <p>{{ advertisement.boxes_count }} карточки по {{ advertisement.objects_in_box }} бонуса в "{{ advertisement.shop.name }}"</p>
                      {% if advertisement.begin_date != None and advertisement.end_date != None %}
                         <footer>Срок действия с  <cite title="Source Title">{{ advertisement.begin_date }}</cite>по <cite title="Source Title">{{ advertisement.end_date }}</cite></footer>
                      {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                           <footer>Действуют с  <cite title="Source Title">{{ advertisement.begin_date }}</cite> бессрочно</footer>
                      {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                           <footer>Действуют до  <cite title="Source Title">{{ advertisement.end_date }}</cite></footer>
                      {% else %}
                           <footer>Действуют бессрочно</footer>
                      {% endif %}


                  </blockquote>
                </div>
              </div>
                    {{ advertisement.description }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}