{% extends 'Board/main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-4">
            <h2>Просмотр объявления</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item active">Просмотр объявления</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row">
                <div class="col-sm-5">
                    <h3 class="mt5">{{ advertisement.header }}</h3>
                    <h5>Размещено {{ advertisement.public_date.day }}.{{ advertisement.public_date.month }}.{{ advertisement.public_date.year }}</h5>
                </div>
                <div class="col-sm-3 text-right">
                    {% if advertisement.price %}
                        <h4>{{ advertisement.price }} ₽</h4>
                    {% elif advertisement.price == 0 %}
                        <h4>Бесплатно</h4>
                    {% else %}
                        <h5>Цена не указана</h5>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                     {% if advertisement.photo %}
                        <img src="{{ advertisement.photo.url }}" class="img-responsive rounded mt15 border">
                     {% else %}
                         <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded mt15 border">
                     {% endif %}
                </div>
                <div class="col-md-4 mt15">
                    <div class="card border-primary">
                        <div class="card-body">
                            <blockquote class="card-blockquote">
                                <h4 class="card-header mt15">Информация о продавце</h4>
                                <h5 class="mt20 mb15">{{ user.profile.first_name }}</h5>
                                {% if user.profile.phone %}
                                    <h6 class="mt0 mb5 text-muted"><span class="glyphicon glyphicon-earphone"></span> {{ user.profile.phone }}</h6>
                                {% else %}
                                   <h6 class="mt0 mb5 text-muted"><span class="glyphicon glyphicon-earphone"></span> Не указан</h6>
                                {% endif %}
                                <h6 class="mt0 mb5 text-muted"><span class="glyphicon glyphicon-envelope"></span> {{ user.profile.email }}</h6>
                                <h6 class="mt0 mb5 text-muted"><span class="glyphicon glyphicon-plus-sign"></span> {{ user.date_joined.date }}</h6>
                                <a href="/profile/{{ user.id }}">
                                    <button type="button" class="btn btn-primary btn-xs mt10">Перейти в профиль</button>
                                </a>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-4">
                    {% if advertisement.begin_date != None and advertisement.end_date != None %}
                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-calendar"></span> с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> по <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                    {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> бессрочно</h5>
                    {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют до  <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                    {% else %}
                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют бессрочно</h5>
                    {% endif %}
                    <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                    <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                </div>
                <div class="col-sm-4">
                    <h5 class="mt0 mb5"><span class="glyphicon glyphicon-credit-card"></span> Карточек: {{ advertisement.boxes_count }}</h5>
                    <h5 class="mt0 mb5"><span class="glyphicon glyphicon-gift"></span> Бонусов: {{ advertisement.objects_in_box }}</h5>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-md-12 mb20">
                    {{ advertisement.description }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}