{% extends 'Board/main.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container pb20">
    <div class="row">
        <div class="col-md-12">
            <h3>Редактировать объявление "{{ advertisement.header }}"</h3>
        </div>
    </div>
    <div class="row mt5">
        <div class="col-md-12">
            <form role="form" action="/advertisement/{{ advertisement.id }}/edit" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="header">Заголовок *</label>
                            {% render_field form.header class="form-control" id="header" placeholder="Введите заголовок" value=advertisement.header %}
                            {% if form.header.errors %}
                                <div class="errors">{{ form.header.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="description">Описание *</label>
                            <textarea name="description" cols="40" rows="10" placeholder="Введите описание" id="description" class="form-control" required="">{{ advertisement.description }}</textarea>
                            {% if form.description.errors %}
                                <div class="errors">{{ form.description.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="objects_in_box">Баланс карты *</label>
                            <div class="input-group">
                                {% render_field form.objects_in_box class="form-control" id="objects_in_box" placeholder="Количество" value=advertisement.objects_in_box %}
                                <div class="input-group-addon">единиц</div>
                            </div>
                            {% if form.objects_in_box.errors %}
                                <div class="errors">{{ form.objects_in_box.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="price">Цена</label>
                            <div class="input-group">
                                {% render_field form.price class="form-control" id="price" placeholder="Введите цену" value=advertisement.price %}
                                <div class="input-group-addon">₽</div>
                            </div>
                            {% if form.price.errors %}
                                <div class="errors">{{ form.price.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">Город *</label>
                            <select name="city" placeholder="Выберите город" id="city" class="form-control" required="" onchange="citySelect(this);">
                                {% for city in cities %}
                                    {% if city.id == advertisement.city.id %}
                                        <option value="{{ advertisement.city.id }}" selected="">{{ advertisement.city.name }}</option>
                                    {% else %}
                                        <option value="{{ city.id }}">{{ city.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.city.errors %}
                                <div class="errors">{{ form.city.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group" id="other_city" style="display:none;">
                            <label for="other_city">Новый город *</label>
                            {% if advertisement.other_shop != None %}
                                {% render_field form.other_city class="form-control" value=advertisement.other_city placeholder="Введите город" %}
                            {% else %}
                                {% render_field form.other_city class="form-control" placeholder="Введите город" %}
                            {% endif %}
                            {% if form.other_city.errors %}
                                <div class="errors">{{ form.other_city.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="category">Категория *</label>
                            <select name="category" placeholder="Выберите категорию" id="category" class="form-control" required="" onchange="categorySelect(this);">
                                {% for category in categories %}
                                    {% if category.id == advertisement.category.id %}
                                        <option value="{{ advertisement.category.id }}" selected="">{{ advertisement.category.name }}</option>
                                    {% else %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.category.errors %}
                                <div class="errors">{{ form.category.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group" id="other_category" style="display:none;">
                            <label for="other_category">Новая категория *</label>
                            {% if advertisement.other_category != None %}
                                {% render_field form.other_category class="form-control" value=advertisement.other_category placeholder="Введите категорию" %}
                            {% else %}
                                {% render_field form.other_category class="form-control" placeholder="Введите категорию" %}
                            {% endif %}
                            {% if form.other_city.errors %}
                                <div class="errors">{{ form.other_city.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="shop">Магазин *</label>
                            <select name="shop" placeholder="Выберите магазин" id="shop" class="form-control" required="" onchange="shopSelect(this);">
                                {% for shop in shops %}
                                    {% if shop.id == advertisement.shop.id %}
                                        <option value="{{ advertisement.shop.id }}" selected="">{{ advertisement.shop.name }}</option>
                                    {% else %}
                                        <option value="{{ shop.id }}">{{ shop.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            {% if form.shop.errors %}
                                <div class="errors">{{ form.shop.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group" id="other_shop" style="display:none;">
                            <label for="other_shop">Новый магазин *</label>
                            {% if advertisement.other_shop != None %}
                                {% render_field form.other_shop class="form-control" value=advertisement.other_shop placeholder="Введите название магазина" %}
                            {% else %}
                                {% render_field form.other_shop class="form-control" placeholder="Введите название магазина" %}
                            {% endif %}
                            {% if form.other_shop.errors %}
                                <div class="errors">{{ form.other_shop.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="begin_date">Дата начала действия</label>
                            {% if advertisement.begin_date != None %}
                                <div class="input-group">
                                    {% render_field form.begin_date class="form-control" id="begin_date" aria-describedby="begin_dateHelp" placeholder="Укажите дату начала"  value=advertisement.begin_date %}
                                    <div class="input-group-addon" id="begin_date_cal"><span class="glyphicon glyphicon-calendar"></span></div>
                                </div>
                            {% else %}
                                <div class="input-group">
                                    {% render_field form.begin_date class="form-control" id="begin_date" aria-describedby="begin_dateHelp" placeholder="Укажите дату начала" %}
                                    <div class="input-group-addon" id="begin_date_cal"><span class="glyphicon glyphicon-calendar"></span></div>
                                </div>
                            {% endif %}
                            <small id="begin_dateHelp" class="form-text text-muted">Если срок действия бонусов не ограничен, оставьте это поле пустым</small>
                            {% if form.begin_date.errors %}
                                <div class="errors">{{ form.begin_date.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="end_date">Дата окончания действия</label>
                            {% if advertisement.end_date != None %}
                                <div class="input-group">
                                    {% render_field form.end_date class="form-control" id="end_date" aria-describedby="end_dateHelp" placeholder="Укажите дату окончания" value=advertisement.end_date %}
                                    <div class="input-group-addon" id="end_date_cal"><span class="glyphicon glyphicon-calendar"></span></div>
                                </div>
                            {% else %}
                                <div class="input-group">
                                    {% render_field form.end_date class="form-control" id="end_date" aria-describedby="end_dateHelp" placeholder="Укажите дату окончания" %}
                                    <div class="input-group-addon" id="end_date_cal"><span class="glyphicon glyphicon-calendar"></span></div>
                                </div>
                            {% endif %}
                            <small id="end_dateHelp" class="form-text text-muted">Если срок действия бонусов не ограничен, оставьте это поле пустым</small>
                            {% if form.end_date.errors %}
                                <div class="errors">{{ form.end_date.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="photo">Новое фото</label>
                            {% render_field form.photo class="form-control-file" id="photo" aria-describedby="photoHelp" %}
                            <small id="photoHelp" class="form-text text-muted">Оставьте это поле пустым, если Вы не хотите менять фотографию</small>
                            {% if form.photo.errors %}
                                <div class="errors">{{ form.photo.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mt10">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a href="/advertisement/{{ advertisement.id }}/end" class="btn btn-danger">Завершить</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        if($('#shop option:selected').text() == "Новый магазин"){
            document.getElementById("other_shop").style.display = "block";
        }

        if($('#city option:selected').text() == "Новый город"){
            document.getElementById("other_city").style.display = "block";
        }

        if($('#category option:selected').text() == "Новая категория"){
            document.getElementById("other_category").style.display = "block";
        }
    });

    function shopSelect(nameSelect)
    {
        if(nameSelect){
            if($('#shop option:selected').text() == "Новый магазин"){
                document.getElementById("other_shop").style.display = "block";
            }
            else{
                document.getElementById("other_shop").style.display = "none";
            }
        }
        else{
            document.getElementById("other_shop").style.display = "none";
        }
    }

    function citySelect(nameSelect)
    {
        if(nameSelect){
            if($('#city option:selected').text() == "Новый город"){
                document.getElementById("other_city").style.display = "block";
            }
            else{
                document.getElementById("other_city").style.display = "none";
            }
        }
        else{
            document.getElementById("other_city").style.display = "none";
        }
    }

    function categorySelect(nameSelect)
    {
        if(nameSelect){
            if($('#category option:selected').text() == "Новая категория"){
                document.getElementById("other_category").style.display = "block";
            }
            else{
                document.getElementById("other_category").style.display = "none";
            }
        }
        else{
            document.getElementById("other_category").style.display = "none";
        }
    }
</script>

{% endblock %}