{% extends 'Board/main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-3">Потерял чего?</h1>
                <p>Воспользуйтесь поиском по 100500 объявлениям</p>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" id="inputLarge">
                </div>
                <p><a class="btn btn-primary btn-lg" href="#">Поиск</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}