{% extends 'Board/main.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Последние объявления</h3>
        </div>
    </div>
    <div class="row mt15">
            {% for advertisement in advertisements reversed %}
                <div class="col-sm-4">
                    <h4>{{ advertisement.header }}</h4>
                    {% if advertisement.photo %}
                        <img src="{{ advertisement.photo.url }}" class="img-responsive mt15">
                    {% endif %}
                    {% if advertisement.price %}
                        <h5>{{ advertisement.price }} ₽</h5>
                    {% else %}
                        <h5>Цена не указана</h5>
                    {% endif %}
                        <h5>Добавлено {{ advertisement.public_date }}</h5>
                    <button type="button" class="btn btn-primary btn-sm">Подробнее</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}