{% extends 'Board/main.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if user.id == request.user.id %}
                <h3>Мои объявления</h3>
            {% else %}
                <h3>Профиль</h3>
            {% endif %}
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                {% if user.id == request.user.id %}
                    <li class="breadcrumb-item active">Мои объявления</li>
                {% else %}
                    <li class="breadcrumb-item active">Профиль пользователя {{ user.username }}</li>
                {% endif %}
            </ol>
        </div>
    </div>
    <div class="row">
    {% if user.id == request.user.id %}
        <div class="col-md-12">
    {% else %}
        <div class="col-md-9">
    {% endif %}
            <h4 class="mt5">Объявления</h4>
            {% if user.id == request.user.id %}
                <ul id="myTab" class="nav nav-tabs mt20">
                    <li class="active"><a href="#active" data-toggle="tab">Активные <span class="badge">{{ active.count }}</span></a></li>
                    <li class=""><a href="#end" data-toggle="tab">Завершенные <span class="badge">{{ end.count }}</span></a></li>
                    <li class=""><a href="#waiting" data-toggle="tab">Ожидают модерации <span class="badge">{{ waiting.count }}</span></a></li>
                    <li class=""><a href="#add" data-toggle="tab">Добавить</a></li>
                </ul>
            {% endif %}
            <div class="row mt15">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active in" id="active">
                        {% for advertisement in active reversed %}
                            {% if user.id == request.user.id %}
                                <div class="col-sm-3 mb15">
                            {% else %}
                                <div class="col-sm-4 mb15">
                            {% endif %}
                                <div class="row">
                                    <div class="col-xs-7">
                                        <h4>{{ advertisement.header|slice:":11" }}{% if advertisement.header|length > 11 %}...{% endif %}</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        {% if advertisement.price %}
                                            <h5>{{ advertisement.price }} ₽</h5>
                                        {% elif advertisement.price == 0 %}
                                            <h5>Бесплатно</h5>
                                        {% else %}
                                            <h5>Не указана</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% if advertisement.photo %}
                                            <img src="{{ advertisement.photo.url }}" class="img-responsive rounded border">
                                        {% else %}
                                            <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded border">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if advertisement.begin_date != None and advertisement.end_date != None %}
                                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> по <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                                        {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> бессрочно</h5>
                                        {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют до  <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                                        {% else %}
                                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют бессрочно</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                                        <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                                        <a href="/advertisement/{{ advertisement.id }}"><button type="button" class="btn btn-primary btn-xs">Подробнее</button></a>
                                        {% if user.id == request.user.id %}
                                            <a href="/advertisement/{{ advertisement.id }}/edit">
                                                <button type="button" class="btn btn-secondary btn-xs black">Редактировать</button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if user.id == request.user.id %}
                        <div class="tab-pane fade" id="end">
                            {% for advertisement in end reversed %}
                                <div class="col-sm-3 mb15">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h4>{{ advertisement.header|slice:":11" }}{% if advertisement.header|length > 11 %}...{% endif %}</h4>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            {% if advertisement.price %}
                                                <h5>{{ advertisement.price }} ₽</h5>
                                            {% elif advertisement.price == 0 %}
                                                <h5>Бесплатно</h5>
                                            {% else %}
                                                <h5>Не указана</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% if advertisement.photo %}
                                                <img src="{{ advertisement.photo.url }}" class="img-responsive rounded border">
                                            {% else %}
                                                <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded border">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Завершено {{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                                            <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                                            <a href="/advertisement/{{ advertisement.id }}"><button type="button" class="btn btn-primary btn-xs">Подробнее</button></a>
                                            {% if user.id == request.user.id %}
                                                <a href="/advertisement/{{ advertisement.id }}/edit">
                                                    <button type="button" class="btn btn-secondary btn-xs black">Редактировать</button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="waiting">
                            {% for advertisement in waiting reversed %}
                                <div class="col-sm-3 mb15">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <h4>{{ advertisement.header|slice:":11" }}{% if advertisement.header|length > 11 %}...{% endif %}</h4>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            {% if advertisement.price %}
                                                <h5>{{ advertisement.price }} ₽</h5>
                                            {% elif advertisement.price == 0 %}
                                                <h5>Бесплатно</h5>
                                            {% else %}
                                                <h5>Не указана</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% if advertisement.photo %}
                                                <img src="{{ advertisement.photo.url }}" class="img-responsive rounded border">
                                            {% else %}
                                                <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded border">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if advertisement.begin_date != None and advertisement.end_date != None %}
                                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> по <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                                            {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> бессрочно</h5>
                                            {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют до  <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                                            {% else %}
                                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действуют бессрочно</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                                            <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                                            <a href="/advertisement/{{ advertisement.id }}"><button type="button" class="btn btn-primary btn-xs">Подробнее</button></a>
                                            {% if user.id == request.user.id %}
                                                <a href="/advertisement/{{ advertisement.id }}/edit">
                                                    <button type="button" class="btn btn-secondary btn-xs black">Редактировать</button>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="add">
                             <div class="col-md-12">
                                 <form role="form" action="/add" method="post" enctype="multipart/form-data">
                                     {% csrf_token %}
                                     <div class="row">
                                         <div class="col-md-6">
                                             <div class="form-group">
                                                 <label for="header">Заголовок *</label>
                                                 {% render_field form.header class="form-control" id="header" placeholder="Введите заголовок" %}
                                             </div>
                                             <div class="form-group">
                                                 <label for="description">Описание *</label>
                                                 {% render_field form.description class="form-control" id="description" placeholder="Введите описание" %}
                                             </div>
                                             <div class="form-group">
                                                 <label for="objects_in_box">Количество бонусов *</label>
                                                 <div class="input-group">
                                                     {% render_field form.objects_in_box class="form-control" id="objects_in_box" placeholder="Введите количество бонусов" %}
                                                     <div class="input-group-addon">единиц</div>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label for="boxes_count">Количество карточек/купонов *</label>
                                                 <div class="input-group">
                                                     {% render_field form.boxes_count class="form-control" id="boxes_count" placeholder="Введите количество карточек" %}
                                                     <div class="input-group-addon">штук</div>
                                                 </div>
                                             </div>
                                             <div class="form-group">
                                                 <label for="price">Цена</label>
                                                 <div class="input-group">
                                                     {% render_field form.price class="form-control" id="price" placeholder="Введите цену" %}
                                                     <div class="input-group-addon">₽</div>
                                                </div>
                                             </div>
                                         </div>
                                         <div class="col-md-6">
                                             <div class="form-group">
                                                 <label for="category">Город *</label>
                                                 {% render_field form.city class="form-control" id="city" placeholder="Выберите город" %}
                                             </div>
                                             <div class="form-group">
                                                 <label for="category">Катерогия *</label>
                                                 {% render_field form.category class="form-control" id="category" placeholder="Выберите категорию" %}
                                             </div>
                                             <div class="form-group">
                                                 <label for="category">Магазин *</label>
                                                 {% render_field form.shop class="form-control" id="shop" placeholder="Выберите магазин" %}
                                             </div>
                                             <div class="form-group">
                                                 <label for="begin_date">Дата начала действия</label>
                                                 <div class="input-group">
                                                     {% render_field form.begin_date class="form-control" id="begin_date" aria-describedby="begin_dateHelp" placeholder="Укажите дату начала" %}
                                                     <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                                                 </div>
                                                 <small id="begin_dateHelp" class="form-text text-muted">Если срок действия бонусов не ограничен, оставьте это поле пустым</small>
                                            </div>
                                             <div class="form-group">
                                                 <label for="end_date">Дата окончания действия</label>
                                                 <div class="input-group">
                                                    {% render_field form.end_date class="form-control" id="end_date" aria-describedby="end_dateHelp" placeholder="Укажите дату окончания" %}
                                                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
                                                 </div>
                                                 <small id="end_dateHelp" class="form-text text-muted">Если срок действия бонусов не ограничен, оставьте это поле пустым</small>
                                             </div>
                                             <div class="form-group">
                                                 <label for="photo">Фото</label>
                                                 {% render_field form.photo class="form-control-file" id="photo" %}
                                             </div>
                                             <button type="submit" class="btn btn-primary">Добавить</button>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if user.id != request.user.id %}
            <div class="col-md-3">
                <div class="card">
                    <h4 class="card-header">Пользователь {{ user.username }}</h4>
                    {% if user.profile.avatar %}
                        <img src="{{ user.profile.avatar.url }}" class="img-responsive img-circle mt20" alt="Card image">
                    {% endif %}
                    <div class="card-body mt20">
                        <dl class="dl-horizontal">
                            <dt class="text-left"><h5 class="card-title mt0">Имя</h5></dt>
                            <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.first_name }}</h5></dd>
                            <dt class="text-left"><h5 class="card-title mt0">Город</h5></dt>
                            <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.city.name }}</h5></dd>
                            <dt class="text-left"><h5 class="card-title mt0">E-mail</h5></dt>
                            <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.email }}</h5></dd>
                            <dt class="text-left"><h5 class="card-title mt0">Телефон</h5></dt>
                            {% if user.profile.phone %}
                                <dd><h5 class="card-subtitle text-muted mt0">{{ user.profile.phone }}</h5></dd>
                            {% else %}
                                <dd><h5 class="card-subtitle text-muted mt0">Не указан</h5></dd>
                            {% endif %}
                            <dt class="text-left"><h5 class="card-title mt0">На сайте с</h5></dt>
                            <dd><h5 class="card-subtitle text-muted mt0">{{ user.date_joined.date }}</h5></dd>
                        </dl>
                    </div>
                </div>
                {% if user.id == request.user.id %}
                    <button type="button" class="btn btn-secondary">Редактировать профиль</button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}