{% extends 'Board/main.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container pb20">
    <div class="graybg">
        <div class="row mb10 ml20">
            <div class="col-md-12">
                <h3>Поиск по объявлениям</h3>
            </div>
        </div>
        <div class="row mb10 ml20">
            <div class="col-md-12 mb20">
                <form role="form" action="/search" method="post" class="form-inline">
                    {% csrf_token %}
                        <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="city">Город</label>
                                {% render_field form.city class="form-control width-fixed" id="city" placeholder="Выберите город" %}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="category">Катерогия</label>
                                {% render_field form.category class="form-control width-fixed" id="category" placeholder="Выберите категорию" %}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="shop">Магазин</label>
                                {% render_field form.shop class="form-control width-fixed" id="shop" placeholder="Выберите магазин" %}
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="category" class="mr5">Дата</label>
                                <div class="input-group">
                                    {% render_field form.date class="form-control width-fixed" placeholder="Выберите дату" id="search_date" %}
                                    <div class="input-group-addon" id="search_date_cal"><span class="glyphicon glyphicon-calendar"></span></div>
                                </div>
                                {% if form.date.errors %}
                                    <div class="errors">{{ form.date.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="submit">&nbsp;</label>
                                <br>
                                <button type="submit" class="btn btn-primary form-control">Поиск</button>
                            </div>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Результаты поиска</h3>
            {% if advertisements.count  != 0%}
                <h5>Найдено объявлений: {{ advertisements.count }}</h5>
            {% else %}
                <h5>По Вашему запросу ничего не найдено</h5>
            {% endif %}
        </div>
    </div>
    <div class="row mt5">
        {% for advertisement in advertisements %}
            <div class="col-sm-3 mb15">
                <div class="row">
                    <div class="col-xs-12 {% if advertisement.header|length > 22 %} shadow {% endif %}">
                        <h4 class="text"><b>{{ advertisement.header|slice:":22" }}{% if advertisement.header|length > 22 %}...{% endif %}</b></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if advertisement.photo %}
                            <img src="{{ advertisement.photo.url }}" class="img-responsive rounded border">
                        {% else %}
                            <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded border">
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% if advertisement.price %}
                            <h5><b>{{ advertisement.price }} ₽</b></h5>
                        {% elif advertisement.price == 0 %}
                            <h5><b>Бесплатно</b></h5>
                        {% else %}
                            <h5><b>Не указана</b></h5>
                        {% endif %}
                        {% if advertisement.begin_date != None and advertisement.end_date != None %}
                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> с {{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }} по {{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</h5>
                        {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует с {{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }} бессрочно</h5>
                        {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует до {{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</h5>
                        {% else %}
                            <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует бессрочно</h5>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                        <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                        <a href="/advertisement/{{ advertisement.id }}"><button type="button" class="btn btn-primary btn-xs">Подробнее</button></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {% if similar.count %}
        <div class="row mt15">
            <div class="col-md-12">
                <h3>Похожие объявления</h3>
                <h5>Найдено объявлений: {{ similar.count }}</h5>
            </div>
        </div>
        <div class="row mt5">
            {% for advertisement in similar %}
                <div class="col-sm-3 mb15">
                    <div class="row">
                        <div class="col-xs-12 {% if advertisement.header|length > 22 %} shadow {% endif %}">
                            <h4 class="text"><b>{{ advertisement.header|slice:":22" }}{% if advertisement.header|length > 22 %}...{% endif %}</b></h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {% if advertisement.photo %}
                                <img src="{{ advertisement.photo.url }}" class="img-responsive rounded border">
                            {% else %}
                                <img src="{{ advertisement.shop.image.url }}" class="img-responsive rounded border">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {% if advertisement.price %}
                                <h5><b>{{ advertisement.price }} ₽</b></h5>
                            {% elif advertisement.price == 0 %}
                                <h5><b>Бесплатно</b></h5>
                            {% else %}
                                <h5><b>Не указана</b></h5>
                            {% endif %}
                            {% if advertisement.begin_date != None and advertisement.end_date != None %}
                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> по <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                            {% elif advertisement.begin_date != None and advertisement.end_date == None %}
                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует с  <cite title="Source Title">{{ advertisement.begin_date.day }}.{{ advertisement.begin_date.month }}.{{ advertisement.begin_date.year }}</cite> бессрочно</h5>
                            {% elif advertisement.begin_date == None and advertisement.end_date != None %}
                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует до  <cite title="Source Title">{{ advertisement.end_date.day }}.{{ advertisement.end_date.month }}.{{ advertisement.end_date.year }}</cite></h5>
                            {% else %}
                                <h5 class="mb5"><span class="glyphicon glyphicon-calendar"></span> Действует бессрочно</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="mt0 mb5"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ advertisement.city }}</h5>
                            <h5 class="mt0"><span class="glyphicon glyphicon-shopping-cart"></span> {{ advertisement.shop.name }}</h5>
                            <a href="/advertisement/{{ advertisement.id }}"><button type="button" class="btn btn-primary btn-xs">Подробнее</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}