{% extends 'Board/main.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Регистрация</h2>
            </div>
        </div>
        <div class="row mt15">
            <div class="col-md-5">
                <form role="form" action="/signup" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Логин *</label>
                        {% render_field user_form.username class="form-control" id="username" placeholder="Введите логин" %}
                        {% if user_form.username.errors %}
                            <div class="errors">{{ user_form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password1">Пароль *</label>
                        {% render_field user_form.password1 type="password" class="form-control" id="password1" placeholder="Введите пароль" %}
                        {% if user_form.password1.errors %}
                            <div class="errors">{{ user_form.username.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="password2">Подтверждение пароля *</label>
                        {% render_field user_form.password2 type="password" class="form-control" id="password2" placeholder="Подтвердите пароль" %}
                        {% if user_form.password2.errors %}
                            <div class="errors">{{ user_form.password2.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="email">Ваш e-mail *</label>
                        {% render_field profile_form.email class="form-control" id="email" placeholder="Введите Ваш e-mail" %}
                        {% if profile_form.email.errors %}
                            <div class="errors">{{ profile_form.email.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="first_name">Ваше имя *</label>
                        {% render_field profile_form.first_name type="password" class="form-control" id="first_name" placeholder="Введите Ваше имя" %}
                        {% if profile_form.first_name.errors %}
                            <div class="errors">{{ profile_form.first_name.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="city">Ваш город *</label>
                        {% render_field profile_form.city class="form-control" id="city" placeholder="Выберите город" %}
                    </div>
                    <div class="form-group">
                        <label for="phone">Ваш телефон</label>
                        {% render_field profile_form.phone class="form-control" id="phone" placeholder="Введите Ваш телефон" %}
                        {% if profile_form.phone.errors %}
                            <div class="errors">{{ profile_form.phone.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="avatar">Фото Вашего профиля</label>
                        {% render_field profile_form.avatar class="form-control-file" id="avatar" type="file" %}
                        {% if profile_form.avatar.errors %}
                            <div class="errors">{{ profile_form.avatar.errors }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </form>
            </div>
            <div class="col-md-4">
                <h3>Внимание</h3>
                <p>Поля, отмеченные * обязательны для заполнения</p>
            </div>
        </div>
    </div>

{% endblock %}